body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Make the whole body background solid black */
.whole {
    background-color: #000 !important;
    background-image: none !important;
    color: #ffffff; /* optional: sets default text color to white */
    min-height: 100vh;
}


.container{
    flex: 1;
}   

/* Navbar */

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}



.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* Cards */


.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    background: transparent !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-body p{
    color: white !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card-img-overlay:hover{
    opacity: 0.2;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(253, 248, 248, 0.7);
}


/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* Edit Page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;   
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Reviews */
@media (min-width: 1000px) {
  .review-card {
    margin-right: 1rem;
  }
}
@media (min-width: 992px) {
  #comment {
    max-width: 600px; /* Adjust to desired width */
  }
}
/*Map*/
#map{
    height: 400px;
    width: 60vh;
}